header
{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
img
{
    width: 80px;
    padding: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
nav
{
    grid-column: 6 / 11;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.main
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    height: 920px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.un
{
    grid-column: 2 / 4;
    grid-row: 1;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.deux
{
    grid-column: 4;
    grid-row: 1 / 3;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.trois
{
    grid-column: 2;
    grid-row: 2;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.quatre
{
    grid-column: 3;
    grid-row: 2;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.cinq
{
    grid-column: 2;
    grid-row: 3;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.six
{
    grid-column: 3 / 5;
    grid-row: 3;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.sept
{
    grid-column: 2 / 5;
    grid-row: 4;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.huit
{
    grid-column: 2 / 4;
    grid-row: 5;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.neuf
{
    grid-column: 4;
    grid-row: 5;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
.dix
{
    grid-column: 1;
    grid-row: 1 / 3;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}